* {
  margin: 0;
  padding: 0;
  color: #fee2e2;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px 30px 30px;
}

.heading {
  width: 100%;
  height: 3rem;
  background-color: #fca5a5;
}

.navigation__nav {
  width: 100%;
  height: 5rem;
  top: 0;
  left: 2rem;
}

.navigation__list {
  text-align: center;
  display: inline;
  position: absolute;
  margin: 20px;
}

.navigation-item {
  margin: 2rem;
  display: inline;
}

.navigation-link {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 1.5rem;
  position: relative;
  cursor: pointer;
}

.navigation-link:hover {
  font-size: 1.1rem;
  color: gray;
}

.first-img {
  border: 5px solid #ffffff;
  height: 70%;
  width: 100%;
  background-position: center;
  background-size: contain;
}
