* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(212, 212, 212);
  padding: 20px;
}

.header {
  height: 110vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba(152, 27, 27, 0.418), 
    rgba(252, 165, 165, 0.411), 
  url(../img/tjaard-krusch-1sZlYiVqGg0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #d4d4d4;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 15px;
}

.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 15px;
}

.heading-primary-title {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 10px;
}
